html {
  background: url(images/steak.jpg) no-repeat center fixed;
  background-size: cover;
}

@keyframes banner {
  0% {opacity: 0}
  25% {opacity: 0.3}
  75% {opacity: 0.9;}
  100% {opacity: 1}
}

.searchbar {
  width: 300px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search_bar {
  all: unset;
  font: 16px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

svg {
  color: #fff;
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
}

ul {
  list-style-type: none;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  opacity: 0.9;
}

ul a.active {
  background-color: red;
  color: yellow;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: black;

}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #fa9607;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

footer {
  background-color: black;
  color: white;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  float: left;
}

.contact-in {
  width: 80%;
  top: 0%;
  margin-top: 131px;
  margin-left: 171px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 10px;
  background: black;
  animation-name: banner;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1
}


.contact-map {
  width: 100%;
  height: auto;
  flex: 50%;
  margin-left: 71px;
  margin-top: 23px;
}

.contact-form {
  margin-top: 11px;
  margin-left: 71px;
  width: 50%;
  height: auto;
  flex: 50%;

}

.contact-form h1 {
  margin-bottom: 10px;
}

.contact-form-txt {
  width: 28%;
  height: 40px;
  color: black;
  border: 3px solid #bcbcbc;
  border-radius: 30px;
  outline: none;
  margin-left: 7px;
  margin-bottom: 20px;
  padding: 15px;
}

.contact-form-txtarea {
  width: 90%;
  height: 70px;
  color: black;
  border: 3px solid #bcbcbc;
  border-radius: 30px;
  outline: none;
  margin-bottom: 20px;
  padding: 20px;
}

input[type=submit] {
  background-color: #ff001e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin-left: 621px; 
  cursor: pointer;
  transition-duration: 0.4s;
  margin-bottom: 91px;
}

input[type=submit]:hover {
  background-color: white;
  color: #ff001e;
}

input[type=text]:focus {
  border: 3px solid #fa9607;
}

textarea:focus {
  border: 3px solid #fa9607;
}

.addr {
  margin-left: 710px;
  margin-top: -370px;
}

.cont {
  margin-left: 200px;
  margin-top: -370px;
}