html {
  background: url(images/steak.jpg) no-repeat center fixed;
  background-size: cover;
}

@keyframes banner {
  0% {opacity: 0}
  25% {opacity: 0.3}
  75% {opacity: 0.9;}
  100% {opacity: 1}
}

.searchbar {
  width: 300px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search_bar {
  all: unset;
  font: 16px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

svg {
  color: #fff;
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
}

ul {
  list-style-type: none;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  opacity: 0.9;
}

ul a.active {
  background-color: red;
  color: yellow;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: black;

}

.dropbtn {
  color: white;
  padding: 0px;
  font-size: 37px;
  cursor: pointer;
}


li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li .dropdown:hover .dropbtn {
  background-color: black;
}

li .dropdown {
  display: block;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #fa9607;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropbtn:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: black;
}

.banner {
  background-color: #000000;
  opacity: 0;
  position: absolute;
  width: 75%;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 10px;
  overflow: hidden;
  border: 5px solid white;
  animation-name: banner;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1
}

.motto {
  color: white;
  position: absolute;
  top: 67%;
  transform: translateY(-67%);
}

.text_banner {
  color: #efda4f;
}

.shop {
  background-color: black;
  opacity: 0;
  position: absolute;
  width: 20%;
  top: 61%;
  transform: translate(270%, -61%);
  margin: 0;
  padding-left: 0;
  overflow: hidden;
  border: 5px solid white;
  animation-name: banner;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1
}

.shop:hover {
  box-shadow: 2px 2px 5px white;
  opacity: 0.6;
}

.icon-bar {
  position: fixed;
  top: 25%;
  transform: translateY(-25%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  opacity: 0.6;
}

.facebook {
  background: #3B5998;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

footer {
  background-color: black;
  color: white;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  float: left;
}


