.container {
  height: 100%;
  width: 100%;
  background-image: url(images/1.jpg);
  background-position: center;
  background-size: cover;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  position: relative;
}

.navbar {
  width: 100%;
  height: 15vh;
  margin: auto;
  display: flex;
  align-items: center;
}

nav {
  flex: 1;
  padding-left: 60px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0px 20px;
}

nav ul li a{
  text-decoration: none;
  color: #333;
}