html {
  background: url(images/meat.jpg) no-repeat center fixed;
  background-size: cover;
}

@keyframes anim {
  0% {opacity: 0}
  25% {opacity: 0.3}
  75% {opacity: 0.9;}
  100% {opacity: 1}
}

ul {
  list-style-type: none;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  opacity: 0.9;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: black;

}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #fa9607;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.searchbar {
  width: 300px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search_bar {
  all: unset;
  font: 16px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

svg {
  color: #fff;
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
}

.big_banner {
  margin-top: 141px;
  background-color: #000000;
  opacity: 0;
  position: absolute;
  width: 90%;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  left: 75px;
  overflow: hidden;
  animation-name: anim;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1
}

.best {
  font-size: 47px;
  color: red;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

div.gallery {
  margin-right: 85px;
  margin-left: 85px;
  border: 1px solid black;
  float: left;
  width: 255px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: white;
}

footer {
  background-color: black;
  color: white;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  float: left;
}

div.cate {
  background-color: #fa9607;
  margin-right: 147px;
  margin-left: 147px;
  margin-bottom: 85px;
  border: 4px solid red;
  float: left;
  width: 255px;
}

div a, .cate {
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
}

div.cate:hover {
  border: 4px solid white;
}